body{
    border: 1px solid black ;
    
}

input[type=checkbox]{
    width: 20px;
    height: 20px;
}
input[type=checkbox]:checked {
    border: 1px solid rgb(72, 243, 72);
    box-shadow: 0 0 0 3px rgb(72, 243, 72);        
}
img{
    width: 25px;
    height: 25px;
}