form{

	margin:2% 25% 15% 25%; 
	box-shadow: 5px 5px #8886; 
	border: 1px solid; 
	padding:10;
    padding-left: 5%;
    background-color: skyblue;
    
}
h2{
    text-align: center;
}



input[type=checkbox]{
    width: 20px;
    height: 20px;
}
input[type=checkbox]:checked {
    border: 1px solid rgb(72, 243, 72);
    box-shadow: 0 0 0 3px rgb(72, 243, 72);        
}
img{
    width: 25px;
    height: 25px;
}